<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
          
    <title><%= current_page.data.title || "Netbeans IDE Icons" %></title>
    
    <!-- Bootswatch Theme -->
    <%= stylesheet_link_tag 'https://bootswatch.com/4/cosmo/bootstrap.min.css' %>
    
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  
  <body>
    <%= partial 'nav' %>
    
    <div class="container m-5">
      <%= yield %>
    </div>
  </body>
  
</html>
